<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WebDocX</title>
  <style>
    * {
        background-color: rgb(152,251,152);
    }
    .mainbox {
        margin: auto;
        height: 600px;
        width: 1000px;
        position: relative;
    }

    .err {
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11rem;
        position:absolute;
        left: 16%;
        top: 8%;
    }

    .msg {
        text-align: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2rem;
        position:absolute;
        left: 16%;
        top: 50%;
        width: 75%;
    }
    
    a {
        color: white;
    }
  </style>
</head>
<body>
  <div class="mainbox">
    <div class="err">Error 404</div>
      <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="/">home</a> and try from there.</p></div>
  </div>
</body>
</html>